---
import { Image } from "astro:assets";
import ServicesWhy from "./Services_Why.astro";
import serviceImage from "@images/group-soccer-training.webp";
import ServicesCTA from "./Services_CTA.astro";
---

<section>
    <div class="container">
        <div class="text-section">
            <h2>Small Group Soccer Training on the Central Coast</h2>
            <p>
                Our small group soccer sessions are perfect for players who want
                high-energy, game-focused training with mates or teammates.
                Groups are kept small to make sure everyone gets plenty of ball
                time, feedback and challenge.
            </p>
            <p>
                We focus on building teamwork, communication, decision-making
                and match awareness, all while developing individual skills.
                These sessions bring out the best in players by creating a fun,
                competitive environment that pushes everyone to improve.
            </p>
        </div>

        <Image
            src={serviceImage}
            alt="1v1 soccer training central coast"
            class="service-image"
        />

        <div class="why-section">
            <h3>Why Book Small Group Training with Soccer Everyday Academy</h3>
            <ServicesWhy
                variant="light"
                whyArray={[
                    {
                        title: "Learn With Others, Grow Together",
                        text: "Training in a group helps players support and challenge each other. It's a great way to build confidence and bring your skills into match-like situations.",
                    },
                    {
                        title: "Perfect Balance of Coaching and Game Play",
                        text: "We combine drills with small-sided games so players can apply what they learn in real-time. It's the best way to bridge the gap between training and match day.",
                    },
                    {
                        title: "Flexible and Fun",
                        text: "Sessions are built to suit the group's age and ability, so everyone gets value. Whether it's a group of friends or teammates, we keep it fun and focused.",
                    },
                ]}
            />
        </div>
        <div class="cta-section">
            <ServicesCTA
                title="Train as a Team, Improve as a Player"
                text="Book your small group session now and bring your football to life in a competitive, high-energy setting."
                variant="dark"
            />
        </div>
    </div>
</section>

<style>
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.5em;
        text-align: center;
    }
    .service-image {
        width: 100%;
        height: auto;
    }
    .text-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .why-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 4rem;
    }
    .cta-section {
        margin-top: 2rem;
    }
    @media (min-width: 768px) {
        .text-section {
            grid-area: 1 / 1 / 2 / 3;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
        }
        .text-section h2 {
            grid-area: 1 / 1 / 2 / 3;
            text-align: center;
            font-size: 2.5em;
        }
        h3 {
            font-size: 1.8em;
        }
        .text-section p:nth-of-type(1) {
            grid-area: 2 / 1 / 3 / 2;
        }
        .text-section p:nth-of-type(2) {
            grid-area: 2 / 2 / 3 / 3;
        }

        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto;
        }

        .service-image {
            grid-area: 2 / 1 / 3 / 2;
            height: 100%;
            object-fit: cover;
        }

        .cta-section {
            grid-area: 2 / 2 / 3 / 3;
            margin-top: 0px;
        }

        .why-section {
            grid-area: 3 / 1 / 4 / 3;
        }
    }

    @media (min-width: 1024px) {
        .container {
            gap: 4rem;
        }
        .text-section {
            gap: 4rem;
        }
    }

    @media (min-width: 1440px) {
        .text-section {
            grid-area: 1 / 1 / 2 / 4;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 2rem;
        }

        .container {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;
            row-gap: 4rem;
        }
        .text-section h2 {
            grid-area: 1 / 1 / 2 / 3;
            text-align: left;
            font-size: 4em;
        }
        h3 {
            font-size: 2em;
        }
        .service-image {
            grid-area: 1 / 3 / 2 /4;
            height: 100%;
            object-fit: cover;
        }

        .cta-section {
            grid-area: 2 / 3 / 3 / 4;
            margin-top: 0px;
        }

        .why-section {
            grid-area: 2 / 1 / 4 / 3;
            margin-top: 0px;
        }
        h3 {
            text-align: left;
        }
    }
</style>
