---

---

<section>
    <div class="container">
        <h2>Train Smarter with Our Football Coaching Programs</h2>
        <p>
            At Soccer Everyday Academy, every session has a purpose. Our
            football coaching programs are built around individual development,
            game understanding and high-energy training. With a mix of
            one-on-one sessions, small group training, football clinics and
            coaching courses, we cater to players at all levels. Backed by a
            strong sports science foundation and real coaching experience from
            around the world, we focus on helping players improve fast and play
            with confidence.
        </p>
    </div>
</section>

<style>
    h2 {
        font-size: 2em;
        background-color: var(--dark);
        padding: 1rem 1rem 0.8rem 1rem;
        color: white;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    @media (min-width: 1024px) {
        h2,
        p {
            max-width: 80%;
            text-align: center;
            margin: 0px auto;
        }
    }

    @media (min-width: 1440px) {
        p {
            width: 50%;
        }
        .container {
            padding: 10rem 0px;
            gap: 4rem;
        }
    }
</style>
