---
import { Image } from "astro:assets";
import placeholder from "@images/ronan-central-coast-soccer-coach.webp";
import Triangle from "@icons/triangle-yellow.svg";
---

<section>
    <div class="container">
        <h2>Meet Your Central Coast Football Coach</h2>
        <p class="intro">
            With over <strong>two decades of experience in football</strong>,
            our head coach brings a mix of international knowledge, formal
            education and local passion to every session. Starting as a young
            player himself, he’s coached across multiple continents, run his own
            academy, and now leads player development right here on the <strong
                >Central Coast.</strong
            > Holding a <strong>Sports Science Degree</strong>, Postgraduate in
            Football Academy, Football Australia C Licence and Personal Trainer
            Certificate, he’s all about helping players reach their full
            potential through focused, high-energy coaching.
        </p>
        <Image src={placeholder} alt="" class="image" />
        <div class="mission">
            <div class="mission-header">
                <h3>Our Mission at Soccer Everyday Academy</h3>
                <Triangle />
            </div>
            <p>
                To inspire the next generation through football. We help players
                build confidence, creativity and purpose by combining proven
                training methods with a love for the game. Every session is a
                chance to grow, compete and enjoy the process.
            </p>
        </div>
    </div>
</section>

<style>
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .image {
        width: 100%;
        height: auto;
    }
    .mission {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: white;
        padding: 1rem;
        background-color: var(--dark);
    }
    .mission-header {
        display: flex;
        justify-content: space-between;
    }
    h2 {
        font-size: 2em;
        background-color: var(--dark);
        padding: 1rem 1rem 0.8rem 1rem;
        color: white;
    }
    .intro {
        border-left: 8px solid var(--dark);
        padding-left: 1rem;
    }
    h3 {
        font-size: 1.65em;
    }

    @media (min-width: 768px) {
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "title title"
                "text-content image"
                "mission mission";
        }
        h2 {
            grid-area: title;
            width: 75%;
        }
        p:first-of-type {
            grid-area: text-content;
        }
        .mission {
            grid-area: mission;
            margin-top: 4rem;
        }
        .image {
            grid-area: image;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @media (min-width: 1024px) {
        .container {
            grid-template-areas:
                "title  image"
                "text-content  image"
                "mission image";
            gap: 4rem;
        }
        h2 {
            width: 100%;
            margin-bottom: -2rem;
        }
    }
</style>
