---
import LandingTestimonialsCard from "./Landing_Testimonials_Card.astro";
import nextIcon from "@icons/next-yellow.svg";
import prevIcon from "@icons/previous-yellow.svg";
import { Image } from "astro:assets";
---

<section>
    <div class="container">
        <div class="header">
            <h2>What Our Central Coast Players and Parents Are Saying</h2>
            <p>
                We’re proud to have helped so many players grow their skills,
                confidence and love for the game. Here’s what a few of our
                players and parents have to say about their experience with
                Soccer Everyday Academy.
            </p>
        </div>
        <div class="embla">
            <div class="embla__viewport">
                <div class="embla__container">
                    <div class="embla__slide">
                        <LandingTestimonialsCard
                            quote="My son’s experience at SEA Academy on the Central Coast has been outstanding. Under Ronan’s expert guidance, he’s grown not only in technical skill and decision-making but also in confidence, discipline, and maturity. Ronan’s passion for the game and Brazilian football background shine through in the fast-paced, skill-focused training. What truly sets SEA apart is Ronan’s commitment to each player’s development, creating a supportive environment that pushes them to excel. I highly recommend SEA Academy to any parent seeking serious football development."
                            quotee="Jerone, Central Coast NSW"
                            title="Outstanding Training"
                        />
                    </div>
                    <div class="embla__slide">
                        <LandingTestimonialsCard
                            quote="Ronan is a great professional with attention to detail. Since our first session, he showed interest and has been very professional. Focused on results. I would definitely recommend."
                            quotee="Heitor"
                            title="Soccer Professionals"
                        />
                    </div>

                    <div class="embla__slide">
                        <LandingTestimonialsCard
                            quote="Joining SEA is one of the best decisions I have made for my son. The training sessions are extremely well organized and we can see my son’s growth and technical skills progress quickly on the pitch. Coach Ronan is an asset to the community, his passion and dedication is incredible."
                            quotee="Belinda, Central Coast NSW"
                            title="Best Decision"
                        />
                    </div>
                </div>
            </div>
            <div class="embla__buttons">
                <button class="embla__button embla__button--prev" id="prevBtn">
                    <Image src={prevIcon} alt="previous slide" /></button
                >
                <button class="embla__button embla__button--next" id="nextBtn"
                    ><Image src={nextIcon} alt="next slide" /></button
                >
            </div>
        </div>
    </div>
</section>

<style>
    h2 {
        font-size: 1.65em;
    }
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .header {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .embla {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .embla__viewport {
        overflow: hidden;
        width: 100%;
    }

    .embla__container {
        display: flex;
    }

    .embla__slide {
        position: relative;
        flex: 0 0 100%;
        min-width: 0;
        padding: 1rem;
    }

    .embla__buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 1rem;
    }

    .embla__button {
        background-color: var(--dark);
        border: none;
        width: 38px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8rem;
        cursor: pointer;
    }

    .embla__button:hover {
    }

    @media (min-width: 768px) {
        .container {
            gap: 4rem;
        }
        .header {
            text-align: center;
        }
        .header p {
            width: 60%;
            margin: 0px auto;
        }
    }

    @media (min-width: 1024px) {
        .container {
            display: grid;
            grid-template-columns: 0.7fr 1fr;
            grid-template-areas: "header embla";
            gap: 2rem;
        }
        .header {
            grid-area: header;
            text-align: left;
        }
        .header p {
            width: 100%;
        }
        .embla {
            grid-area: embla;
        }
        .embla__slide {
            padding-top: 0px;
        }
    }
</style>

<script>
    import emblaCarousel from "embla-carousel";

    const viewport = document.querySelector(".embla__viewport");
    const prevBtn = document.getElementById("prevBtn");
    const nextBtn = document.getElementById("nextBtn");

    const embla = emblaCarousel(viewport, { loop: true });

    prevBtn.addEventListener("click", () => embla.scrollPrev());
    nextBtn.addEventListener("click", () => embla.scrollNext());
</script>
