:root {
	--dark: #1E1E1E;
	--yellow: #F7EA3E;
	--grey: #F4F4F4;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px
		rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
	font-family: "paragraph";
	src: url("/fonts/manrope.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "heading";
	src: url("/fonts/babasneue.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
	font-family: "paragraph";
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "heading";
}

p {
	line-height: 2em;
}

.p-block{
	padding-left: 1rem;
	border-left: 8px solid var(--dark);
}
.container {
	padding: 2.5rem 1rem;
}

strong{
	font-weight: bold;
}

@media (min-width: 768px) {
	.container {
		padding: 4.5rem 4rem;
	}
}

@media (min-width: 1024px) {
	.container {
		padding: 6rem 8rem;
	}
}

@media (min-width: 1440px) {
	.container {
		width: 1280px;
		margin: 0px auto;
	}
}
