---
import Tick from "@icons/tick-yellow.svg";
import SecondaryButton from "../common/Secondary_Button.astro";
import PrimaryButton from "../common/Primary_Button.astro";
import callIcon from "@icons/phone-white.svg";
import contactIcon from "@icons/contact-black.svg";
---

<section>
    <div class="container">
        <h2>
            Why Choose Soccer Every Day Academy For Central Coast Football
            Training
        </h2>
        <p class="intro">
            We’re not just running drills. We’re building footballers. At Soccer
            Every Day Academy, we focus on long-term development, not quick
            wins. Every player gets the time, attention and coaching they need
            to grow, no matter their age or skill level. Whether it’s 1v1, small
            group sessions, or strength and conditioning, our approach is
            personal, proven and built around real results.
        </p>

        <div class="why-list">
            <div class="reason">
                <Tick class="tick-icon" />
                <div class="text">
                    <h3>Individualised Coaching</h3>
                    <p>
                        With a Sports Science degree, Football Australia C
                        Licence and years coaching around the world, our
                        training is backed by real knowledge. You’re not just
                        getting a coach, you’re getting a mentor with proven
                        methods.
                    </p>
                </div>
            </div>

            <div class="reason">
                <Tick class="tick-icon" />
                <div class="text">
                    <h3>Proven Experience</h3>
                    <p>
                        Our head coach has worked across Australia, Europe and
                        Asia and currently coaches at Terrigal FC and the
                        Terrigal Development Centre.
                    </p>
                </div>
            </div>

            <div class="reason">
                <Tick class="tick-icon" />
                <div class="text">
                    <h3>All Round Development</h3>
                    <p>
                        We focus on more than just skill we build confidence,
                        decision-making, game sense and physical strength.
                    </p>
                </div>
            </div>
        </div>
        <div class="cta-buttons">
            <SecondaryButton link="tel:" text="Call Us" icon={callIcon} />
            <PrimaryButton
                link="/contact"
                text="Book a session"
                icon={contactIcon}
                variant="yellow"
            />
        </div>
    </div>
</section>

<style>
    section {
        background-color: var(--dark);
        color: white;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.5em;
    }
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .why-list {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        margin-top: 2rem;
    }
    .reason {
        display: flex;
        gap: 1rem;
    }
    .tick-icon {
        min-width: 25px;
        height: 25px;
    }
    .text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .cta-buttons {
        display: flex;
        gap: 1rem;
        margin-top: 4rem;
    }

    @media (min-width: 768px) {
        .reason {
            padding: 2rem;
            box-shadow:
                rgba(255, 255, 255, 0.1) 0px 0px 5px 0px,
                rgba(255, 255, 255, 0.1) 0px 0px 1px 0px;
        }
    }

    @media (min-width: 1440px) {
        .why-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .reason {
            flex-direction: column;
            align-items: center;
        }
        .reason h3 {
            text-align: center;
            margin-bottom: 2rem;
        }
        .tick-icon {
            width: 50px;
            height: auto;
        }
        h2 {
            text-align: center;
        }
        .intro {
            width: 65%;
            text-align: center;
            margin: 0px auto;
        }
        .container {
            gap: 4rem;
        }
    }
</style>
