---
const today = new Date();
import placeholder from "@images/logo.svg";
import { Image } from "astro:assets";
import Instagram from "@icons/instagram-white.svg";
import Youtube from "@icons/youtube-white.svg";
import Phone from "@icons/phone-white.svg";
import Mail from "@icons/mail-white.svg";
---

<footer>
	<div class="footer-container">
		<Image src={placeholder} alt="" class="image" />

		<div class="links">
			<div class="site-nav">
				<h3>Site Navigation</h3>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/">Services</a>
					</li>
					<li>
						<a href="/">About</a>
					</li>
					<li>
						<a href="/">Contact</a>
					</li>
					<li>
						<a href="/pricing">Pricing</a>
					</li>
				</ul>
			</div>

			<div class="social-links">
				<h3>Social Links</h3>
				<ul>
					<li>
						<a href="/"><Instagram class="icon" /> Instagram</a>
					</li>
					<li>
						<a href="/"><Youtube class="icon" /> YouTube</a>
					</li>
				</ul>
			</div>

			<div class="contact-details">
				<h3>Contact Details</h3>
				<ul>
					<li>
						<a href="tel:0432 275 674"
							><Phone class="icon" />0432 275 674</a
						>
					</li>
					<li>
						<a href="mailto:info@seagroup.com"
							><Mail class="icon" />info@seagroup.com</a
						>
					</li>
				</ul>
			</div>
		</div>
		<span class="beachside-link">
			<a href="https://www.beachsidewebdesigns.com"
				>&copy; {today.getFullYear()} Built By Beachside Web Designs.</a
			>
		</span>
	</div>
</footer>

<style>
	footer {
		background-color: black;
		color: white;
	}
	.footer-container {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}
	.links {
		display: flex;
		flex-direction: column;
		gap: 4rem;
	}
	.image {
		opacity: 0.5;
		width: 126px;
		height: auto;
		object-fit: contain;
	}
	ul {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	h3 {
		font-size: 1.15rem;
		margin-bottom: 1rem;
	}
	a {
		text-decoration: none;
		color: white;
	}

	.beachside-link {
		text-align: center;
	}
	.beachside-link a {
		color: var(--yellow);
	}
	.icon {
		width: 18px;
		height: auto;
	}
	.social-links a,
	.contact-details a {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	@media (min-width: 768px) {
		.footer-container {
			padding: 4rem 4rem 1rem 4rem;
		}
		.site-nav {
			grid-area: site-nav;
		}
		.social-links {
			grid-area: social;
		}
		.contact-details {
			grid-area: contact;
		}
		.links {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-areas:
				"site-nav social"
				"contact contact";
		}
	}
	@media (min-width: 1024px) {
		.links {
			grid-template-columns: 250px 250px 250px;
			grid-template-areas: "site-nav social contact";
			margin-top: 2rem;
		}
		.contact-details a:first-of-type {
			margin-bottom: 1rem;
			display: block;
		}
	}
</style>
